{% extends 'base.html' %}
{% load most_important_thing %}
{% load cache %}

{% block content %}
<section class="site-section pt-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-6">
                <h2 class="mb-4">Категория: {{ category }}</h2>
            </div>
        </div>
        <div class="row blog-entries">
            <div class="col-md-12 col-lg-8 main-content">
                <div class="row mb-5 mt-5">

                    <div class="col-md-12">
                        {% for obj in object_list %}

                        <div class="post-entry-horzontal">
                            <a href="{{ obj.get_absolute_url }}">
                                <div class="image element-animate" data-animate-effect="fadeIn"
                                     style="background-image: url({{ obj.photo.url }});"></div>
                                <span class="text">
                                  <div class="post-meta">
                                    <span class="author mr-2"><img src="{{ obj.author.author_photo.url }}"
                                                                   alt="{{ obj.author }}"> {{ obj.author }}</span>&bullet;
                                    <span class="mr-2">{{ obj.created_at|date:'d.m.Y' }} </span> &bullet;
                                    <span class="mr-2">просмотров: {{ obj.views }}</span> &bullet;
                                    <span class="ml-2">
                                        <span class="fa fa-comments">
                                            {{ obj.cnt_comment }}
                                        </span>
                                    </span>
                                  </div>
                                    <h2>{{ obj.title|safe|truncatewords_html:9 }}</h2>
                                </span>
                            </a>
                        </div>
                        {% endfor %}
                        <!-- END post -->

                    </div>
                </div>

            </div>

            <!-- END main-content -->
            {% cache 600 sidebar%}
            <div class="col-md-12 col-lg-4 sidebar">

                <div class="sidebar-box">

                    <div class="bio text-center">
                        <img src="{{ popular_author.author_photo.url }}" alt="{{ popular_author }}" class="img-fluid">
                        <div class="bio-body">

                            <h2>{{ popular_author }}</h2>
                            <p><a href="{{ popular_author.get_absolute_url }}" class="btn btn-primary btn-sm rounded">Больше
                                информации</a></p>
                            <p>Популярный автор категории: {{ category }}</p>
                        </div>
                    </div>

                </div>
                <!-- END sidebar-box popular author-->

                <div class="sidebar-box">
                    <h3 class="heading">
                        Популярные посты категории: {{ category }}
                    </h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            {% for post in popular_posts %}
                            <li>
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{{ post.photo.url }}" alt="{{ post.title }}" class="mr-4">
                                    <div class="text">
                                        <h4>{{ post.title|safe|truncatewords_html:9 }}</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">{{ post.created_at|date:'d.m.Y' }}</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- END sidebar-box popular posts -->


                  <div class="sidebar-box">
                    <h3 class="heading">Популярные теги категории: {{ category }}</h3>
                    <ul class="tags">
                        {% comment %}
                            {% for tag in popular_tags %}
                                <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
                            {% endfor %}
                        {% endcomment %}

                        {% for post in popular_posts %}
                            {% for tag in post.tags.all %}
                                <li><a href="{{ tag.get_absolute_url }}">{{ tag }}</a></li>
                            {% endfor %}
                        {% endfor %}

                    </ul>
                </div>

                {% show_all_categories %}

            </div>
            {% endcache %}

        </div>
    </div>
</section>

{% endblock %}